<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout('FTP Hesabı Düzenle - Xfer', ~{::content})}">
<head>
    <title>FTP Hesabı Düzenle - Xfer</title>
</head>
<body>
    <div th:fragment="content">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">
                            <i class="fas fa-server me-2"></i>FTP Hesabı Düzenle
                        </h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/edit-ftp/{id}(id=${account.id})}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Hesap Adı</label>
                                        <input type="text" class="form-control" id="name" name="name" th:value="${account.name}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="protocol" class="form-label">Protokol</label>
                                        <select class="form-select" id="protocol" name="protocol" th:value="${account.protocol}">
                                            <option value="ftp">FTP</option>
                                            <option value="sftp">SFTP</option>
                                            <option value="scp">SCP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <label for="host" class="form-label">Host</label>
                                        <input type="text" class="form-control" id="host" name="host" th:value="${account.host}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="port" class="form-label">Port</label>
                                        <input type="number" class="form-control" id="port" name="port" th:value="${account.port}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Kullanıcı Adı</label>
                                        <input type="text" class="form-control" id="username" name="username" th:value="${account.username}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Şifre</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Şifre değiştirmek istemiyorsanız boş bırakın">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Kullanıcı Atamaları ve İzinleri</label>
                                <div class="card">
                                    <div class="card-body">
                                        <div th:each="user : ${users}" class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input user-checkbox" type="checkbox" th:id="'user_' + ${user.id}" th:value="${user.id}" name="userIds">
                                                <label class="form-check-label fw-bold" th:for="'user_' + ${user.id}" th:text="${user.username}">Kullanıcı</label>
                                            </div>
                                            
                                            <div class="ms-4 mt-2">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input permission-checkbox" type="checkbox" th:id="'read_' + ${user.id}" th:name="'permissions_' + ${user.id} + '_read'" value="read">
                                                            <label class="form-check-label" th:for="'read_' + ${user.id}">Okuma</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input permission-checkbox" type="checkbox" th:id="'write_' + ${user.id}" th:name="'permissions_' + ${user.id} + '_write'" value="write">
                                                            <label class="form-check-label" th:for="'write_' + ${user.id}">Yazma</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input permission-checkbox" type="checkbox" th:id="'delete_' + ${user.id}" th:name="'permissions_' + ${user.id} + '_delete'" value="delete">
                                                            <label class="form-check-label" th:for="'delete_' + ${user.id}">Silme</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input permission-checkbox" type="checkbox" th:id="'upload_' + ${user.id}" th:name="'permissions_' + ${user.id} + '_upload'" value="upload">
                                                            <label class="form-check-label" th:for="'upload_' + ${user.id}">Yükleme</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save me-1"></i>Güncelle
                                </button>
                                <a th:href="@{/admin}" class="btn btn-secondary">
                                    <i class="fas fa-arrow-left me-1"></i>Geri Dön
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/edif_ftp.js}"></script>
    </div>
</body>
</html>
